$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'mainPage';
@import 'info';
@import 'signup';
@import 'informese';
@import 'contact';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x : hidden; 
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/*General Styles*/
h1{
    
    font-size: 8em;
    color:#fff;
}


/* END General Styles*/
.navbar-default{
    background-color : #f0f7f7;
    border-color     : #707074; 
    .nav{
        margin-left : -15px; 
    }
    .active{
        a{
            background-color : #707074!important;
            color            : #f0f7f7!important;
            &:hover{
                color : #f0f7f7;
            }
        }
    }
    .nav{
        li{
            a{
                span{
                    color : #f18e01;
                }
                &:hover{
                    color : #f18e01;
                }
            }
        }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 970px) {
    .container {
        max-width: 970px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
