<div fulldiv class="contact" id="contacto">
	<google-map center="map.center" zoom="map.zoom">
		<marker coords="map.marker"></marker>
	</google-map>
	<div class="contact-over"><p>contact form</p></div>
	<div class="foot">
		<div class="container">
			<div class="col-md-7">
				<h2>SIGUENOS EN:</h2>
				<ul class="list-inline">
					<li>
						<a class="btn btn-social-icon btn-facebook">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a class="btn btn-social-icon btn-google-plus">
							<i class="fa fa-google-plus"></i>
						</a>
					</li>
					<li>
						<a class="btn btn-social-icon btn-linkedin">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li>
						<div class="btn btn-social-icon btn-twitter">
							<i class="fa fa-twitter"></i>
						</div>
					</li>
				</ul>
				<p>San José, Costa Rica © {{currentDate}} OCUPATE-YA! - Todos los derechos reservados</p>
			</div>
			<div class="col-md-5">
				
			</div>
		</div>
	</div>
</div>