<div class="container info">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center"> Quienes Somos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        <h3>Misión Ocupate Ya!</h3>
        es mejorar el proceso de contratación de forma bilateral. Utilizando una serie de procesos evaluativos que permitan a las empresas localizar y contratar al candidato ideal para cada una de sus plazas vacantes
        Para los oferentes facilitaremos el enlace con empresas que necesiten de sus servicios mediante el estudio previo de sus referencias laborales.
        Estos procesos conjuntos nos permitirán certificar el éxito de la contratación en ambas vías: empleadores y oferentes.
 
      </p>
    </div>
    <div class="col-md-6">
      <p>
      <h3>Misión Ocupate Ya!</h3>
        es mejorar el proceso de contratación de forma bilateral. Utilizando una serie de procesos evaluativos que permitan a las empresas localizar y contratar al candidato ideal para cada una de sus plazas vacantes
        Para los oferentes facilitaremos el enlace con empresas que necesiten de sus servicios mediante el estudio previo de sus referencias laborales.
        Estos procesos conjuntos nos permitirán certificar el éxito de la contratación en ambas vías: empleadores y oferentes.
      </p>
    </div>
    <div class="col-md-12">
      <h3>Objetivos Específicos:</h3>
      <p>Tener al alcance de las empresas del país y de la Región Centroamericana la más amplia y calificada base de datos de oferentes para mejorar el proceso de contratación.
      Ser reconocidos en Costa Rica y la Región Centroamericana como la empresa número uno en facilitar el encadenamiento de oferentes,  contratantes y colocadores de empleo.
      Ser los socios de negocios de las empresas que necesiten de la certificación de las referencias laborales de sus candidatos a plazas vacantes.
      OCUPATE YA!!

      Es una iniciativa que promueve de forma efectiva la participación de empresas e individuos en el proceso de contratación.  
      Deseamos con esta iniciativa llevar posibilidades laborales a todas las regiones del país.  Es por esta razón que hemos comenzado con una primera feria regional en San Isidro de Pérez Zeledón.
    </p>
    </div>
  </div>
</div>