<div class="homePage" id="home">
	<div class="blur" fulldiv>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2>DEVELOP, TOGETHER!</h2>
          <p>Learn programming or make apps. 
            Hack Ruby, Go, Java, NodeJS, PHP, C, and Python. 
            Install Wordpress, Laravel, Django, and Bootstrap.
            Play with MySQL, Mongo, and enjoy root access. 
            Sign up now and join the fun!
          </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2>¿NUEVO INGRESO?</h2>
        </div>
      </div>
      <div class="row icons-cont">
        <div class="col-md-4">
          <img src="images/cloud2.png" alt="">
          <h2>HOla</h2>
        </div>
        <div class="col-md-4">
          <img src="images/cloud2.png" alt="">
          <h2>HOla</h2>
        </div>
        <div class="col-md-4">
          <img src="images/cloud2.png" alt="">
          <h2>HOla</h2>
        </div>
      </div>
    </div>
  </div>
  
  <video autoplay loop id="bgvid">
    <source src="images/hands.mp4" type="video/mp4">
  </video>
</div>

<div ng-include="'views/info.html'"></div>
<div ng-include="'views/signup.html'"></div>
<div ng-include="'views/informese.html'"></div>


  

